@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body
{
    font-family: "Bebas Neue";
}

p
{
    font-size: 24px;
    font-weight : bolder; 
    font-style : italic;
    text-transform:lowercase !important;
    letter-spacing: 5px;
    line-height: 30px;
}

h1
{
    text-align: center;
    text-decoration : 2px solid black underline;
    text-transform:lowercase;
    text-shadow : 5px 5px 10px #c38501;
}

/*div
{
    height: 100px;
    width : 50w;
    background-color: red;
}*/

/*.parent
{
    width : 50vw;
    height:  50vh;    
    background-color: red;
    border : 10px solid black;
    border-radius: 20px;
}

.child
{
    width: 50%;
    height: 2em;
    background-color: green;
}

p
{
    font-size : 48px;
    border-right: 10px solid green;
}*/

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

div
{
    height : 200px;
    width: 200px;
    background-color: green;
    border-radius: 20px 50px 80px 30px;
   /* border-top-left-radius : 80px;
    border-top-right-radius : 80px;
    border-bottom-left-radius : 80px;
    border-bottom-right-radius : 80px;*/
    /*padding-left: 20px;
    padding-top :20px;*/
    padding : 50px;
    box-sizing : border-box;
    color: white;
    margin-bottom: 20px;    
}

h1,h2,h3{
    border: 1px solid red;
    /* width: max-content;  */
}
section
{
    margin-left: 20px;
    height: 100px;
    width: 100px;
    background-color: red;
    color: white;
    padding: 35px;
    box-sizing: border-box;
}